body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: url('https://assets.pokemon.com/static2/_ui/img/chrome/body_bg.png') center/cover no-repeat, linear-gradient(to bottom, #f7f7f7, #eaeaea);
    background-attachment: fixed;
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 900px;
    margin-top: 100px;
    padding: 20px;
    background: rgba(200, 200, 200, 0.9);
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

.type_selector h1 {
    font-size: 3rem;
    color: #444;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.type_selector h3 {
    font-size: 1.8rem;
    color: #555;
    margin-bottom: 15px;
}

.type-select {
    width: 250px;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    font-size: 1rem;
    background: #f9f9f9;
    color: #333;
    transition: border-color 0.3s ease, transform 0.2s ease;
}

.type-select:focus {
    border-color: #007bff;
    transform: scale(1.05);
    outline: none;
}

.btn {
    padding: 12px 25px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.btn-primary {
    background-color: #007bff;
    border: none;
    color: #fff;
}

.btn-primary:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}

.btn-secondary {
    background-color: #6c757d;
    border: none;
    color: #fff;
}

.btn-secondary:hover {
    background-color: #5a6268;
    transform: scale(1.1);
}

.table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    overflow: hidden;
    animation: slideIn 0.8s ease-in-out;
}

.table th, .table td {
    padding: 10px;
    border: 1px solid #ddd;
    color: #333;
}

.table th {
    background: #f1f1f1;
    font-weight: bold;
}

.table td {
    background: #fff;
}

.table tr {
    opacity: 0;
    animation: fadeInRow 0.5s ease-in-out forwards;
}


@keyframes fadeInRow {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}