body {
    background-image: url('https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png');
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.question-mark{
    height: 150px;
    width: 150px;
    opacity: 0.1;
}
#img1{
    position: absolute;
    top: 16%;
    margin-right: 38%;
    rotate: -25deg;
    opacity: 0.2;
    height: 250px;
    width: 250px;
}
#img4{
    position: absolute;
    margin-right: 32%;
    rotate: 30deg;
    height: 140px;
    width: 140px;
}
#img2{
    height: 80px;
    width: 80px;
    position: absolute;
    top: 20%;
    margin-left: 35%;
    rotate: -20deg;
}
#img3{
    position: absolute;
    top: 25%;
    margin-left: 30%;
    rotate: 25deg;
    opacity: 0.2;
}

h1 {
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 20px;
}

#blackout-image {
    width: 400px;
    height: 400px;
    margin: 20px auto;
    display: block;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

#blackout-image:hover {
    transform: scale(1.1);
}

label {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    display: block;
}

#guess-input {
    width: 300px;
    padding: 15px;
    font-size: 18px;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin: 15px 0;
    transition: border-color 0.3s ease;
}

#guess-input:focus {
    border-color: #ffcb05;
    outline: none;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 15px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

button:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
}

button:active {
    background-color: #003f7f;
    transform: translateY(0);
}

#hint {
    background-color: #ffee00ea;
}

#hint:hover {
    background-color: #ffc400ea;
}

#next-button {
    background-color: #28a745;
}

#next-button:hover {
    background-color: #218838;
}

#next-button:active {
    background-color: #1e7e34;
}

#reveal-button {
    background-color: red;
}


@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.shake {
    animation: shake 0.5s ease-in-out;
}