body {
    font-family: 'Inter', 'Segoe UI', 'Roboto', 'Arial', sans-serif;
    line-height: 1.8;
    padding-top: 70px;
    background: linear-gradient(45deg, #3e4c59, #2c2c2c);
    background-size: cover;
    margin: 0;
    color: #222;
}

html {
    scroll-behavior: smooth;
  }

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}


.header-menu {
    font-size: 18px;
    padding: 15px;
    background-color: #333333;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    width: 60%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;
}

.header-menu label {
    font-size: 18px;
    font-weight: 500;
    color: #ecf0f1;
    margin-top: 10px;
    margin-right: 15px;
}

#headerSelect {
    padding: 15px 15px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #444444; 
    color: #ecf0f1;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
}

#headerSelect:hover {
    background-color: #555555;
}

#headerSelect:focus {
    outline: none;
    box-shadow: 0 0 5px #4caf50;
}




.header h1 {
    font-size: 28px;
    color: white;
    background-image: linear-gradient(to right, #4caf50 0%, #087f23 51%, #4caf50 100%);
    transition: background-position 0.4s ease;
    background-size: 200% auto;
    height: 100px;
    width: 270px;
    border-radius: 50px;
    cursor: pointer;
    padding: 15px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
}

.header h1:hover {
    background-position: left center;
}

.header-image {
    margin-right: 15%;
    position: absolute;
}

h2 {
    color: silver;
    font-size: 40px;
    margin-top: 40px;
    border-bottom: 3px solid #aaa;
    padding-bottom: 8px;
    text-align: center;
    transition: transform 0.3s ease, color 0.3s ease;
    font-family: "Times New Roman", Times, serif;
}

h2:hover {
    transform: scale(1.1);
    color: #087f23;
}

.text-box {
    list-style: none;
    padding: 20px;
    margin: 15px auto;
    background: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
    max-width: 80%;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.25s ease-in-out;
}

.text-box:hover {
    background-color: #ffffff;
    box-shadow: 0 7px 12px rgba(0, 0, 0, 0.15);
    transform: scale(1.03);
}

.text-box li {
    margin-bottom: 12px;
    padding: 6px 0;
    border-bottom: 1px solid #dedede;
    transition: background-color 0.3s, transform 0.2s ease;
}

.text-box li:hover {
    background-color: #f0f8ff;
    transform: translateX(5px);
}

.text-box li:last-child {
    border-bottom: none;
}


img:not(.navPokeball):not(.header-image) {
    display: block;
    margin: 10px auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

img:hover:not(.navPokeball) {
    animation: shaking 0.5s ease;
}

.image-stack {
    position: relative;
    width: 180px;
    height: 260px;
    margin: auto;
    overflow: hidden;
}

.image-stack img:not(.navPokeball) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.popUpImages {
    z-index: 1;
    opacity: 0;
    transition: opacity 0.7s;
}

.popUpImages:hover {
    opacity: 1;
}

@keyframes shaking {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}