body{
    background-color: #cecece;
    line-height: 1.6;
    background-image: radial-gradient(#515151 53px, transparent 0px);
    background-repeat: repeat; /* or omit this declaration */
    background-size: 100px 100px;
    background-position: center;
 
}

h1 {
    margin-top: 5%;
    text-align: center;
    font-size: 50px;
    color: aliceblue;
}

img:not(.navPokeball) {
    width: 50px;
    height: 50px;
}

td {
    border: 2px solid black;
    text-align: center;
    color: #3f3b35;
}

table {
    border: 1px solid black;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    border-collapse: collapse;
    background-color: #c9c576;

    

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    outline: darkgrey inset 4px;
    box-sizing: border-box;
}

tr:nth-child(even) {
    background-color: #f9f5a3;
  }
