img {
    width: 100px;
    height: 100px;
}

td {
    border: 2px solid black;
    text-align: center;
}

table {
    border: 1px solid black;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    border-collapse: collapse;
    background-color: #77CDFF;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    outline: darkgrey inset 4px;
    box-sizing: border-box;
    
}

li {
    list-style-type: none;
}

body {
    background-color: #fbebeb;
    background: repeating-linear-gradient(
    135deg,
    #fdf7f7,
    #fdf7f7 40px,
    #d6ebff 40px,
    #d6ebff 80px
)
}

h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 50px;
}
p {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

a, a:visited{
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}