#searchBar {
    border: 3px solid #b8b8b8;
    border-radius: 8px;
    margin-bottom: 20px;
}

#tableContainer table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

#tableContainer table tr:nth-child(even) {
    background-color: #f9f9f9;
}

#tableContainer table tr:hover {
    background-color: #f1f1f1;
}

#tableContainer table td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
    font-size: 20px;
    transition: background-color 0.3s ease;
}



img:not(.navPokeball) {
    width: 100px;
    height: 100px;
}

li {
    list-style-type: none;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background: linear-gradient(135deg, #fdf7f7, #d6ebff);
    margin: 0;
    padding: 0;

    
}
body::-webkit-scrollbar {
    display:none;
}

h1 {
    margin-top: 20px;
    text-align: center;
    color: #333;
    font-size: 36px;
}

p {
    text-align: center;
    color: #555;
    font-size: 18px;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

tr {
    transition: background-color 0.3s ease;
}

@media (max-width: 768px) {
    table {
        width: 95%;
    }

    td {
        font-size: 16px;
        padding: 8px;
    }

    h1 {
        font-size: 28px;
    }

    p {
        font-size: 16px;
    }
}
