.topnav {
    background-color: #333;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 5px; 
    width: 100%; 
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #3d6fec;
    color: white;
  }

.parent-container {
    display: flex;
    justify-content: center; 
}

.landingPageTypes {
    transition: 0.5s;
    width: 6cm;
    height: 3cm;
    font-size: x-large;
    color: white;
    border-color: white;
    border-width: 3px;
    border-radius: 25px;
    border-style: none;
    background-size: 200% auto;
    margin-top: 15px;
    margin-left: 0%;
}

.landingPageTypes:hover {
    background-position: right center;
    background-position: 100%;
    transition: 0.5s;
}

.landingPageTypes:active {
    transition: 0.25s;
    color: rgb(255, 255, 255);
    background-color: rgb(111, 122, 245);
    border-color: rgb(111, 122, 245);
    opacity: 5;
}

.Button1 {
    background-image: linear-gradient(to right, #6ed7fb 0%, rgb(255, 88, 88) 100%);

}


.landingPagePokedex {
    transition: 0.5s;
    width: 6cm;
    height: 3cm;
    font-size: x-large;
    color: white;
    border-color: white;
    border-width: 3px;
    border-radius: 25px;
    border-style: none;
    background-size: 200% auto;
    margin-top: 15px;
    margin-left: 0%;
}

.landingPagePokedex:hover {
    background-position: right center;
    background-position: 100%;
    transition: 0.5s;
}

.landingPagePokedex:active {
    transition: 0.25s;
    color: rgb(255, 255, 255);
    background-color: rgb(111, 122, 245);
    border-color: rgb(111, 122, 245);
    opacity: 5;
}

.Button2 {
    background-image: linear-gradient(to left, #8fbc8f 0%, #ff5858 100%);
}

.landingPageItems {
    transition: 0.5s;
    width: 6cm;
    height: 3cm;
    font-size: x-large;
    color: white;
    border-color: white;
    border-width: 3px;
    border-radius: 25px;
    border-style: none;
    background-size: 200% auto;
    margin-top: 15px;
    margin-left: 0%;
}

.landingPageItems:hover {
    background-position: right center;
    background-position: 100%;
    transition: 0.5s;
}

.landingPageItems:active {
    transition: 0.25s;
    color: rgb(255, 255, 255);
    background-color: rgb(111, 122, 245);
    border-color: rgb(111, 122, 245);
    opacity: 5;
}

.Button3 {
    background-image: linear-gradient(to left, #6ed7fb 0%, #8fbc8f 100%);
}

.pokeballButton1 {
    border-style: none;
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
    transition: rotate 1s;
}

.pokeballButton1:hover {
    rotate: 360deg;
}

.pokeballImg {
    height: 50px;
}

body {
    background: url(Images/Backgrounds/mainBG.png);
}

h1 {
    font-size: 60px;
    display: flex;
    justify-content: center;
    
}