.parent-container {
    display: flex;
    justify-content: center;
}

.landingPageTypes {
    transition: 0.5s;
    width: 6cm;
    height: 3cm;
    font-size: x-large;
    color: white;
    border-color: white;
    border-width: 3px;
    border-radius: 25px;
    border-style: none;
    background-size: 200% auto;
    margin-top: 15px;
    margin-right: 50vh;
}

.landingPageTypes:hover {
    background-position: right center;
    background-position: 100%;
    transition: 0.5s;
}

.landingPageTypes:active {
    transition: 0.25s;
    color: rgb(255, 255, 255);
    background-color: rgb(111, 122, 245);
    border-color: rgb(111, 122, 245);
    opacity: 5;
}

.Button1 {
    background-image: linear-gradient(to right, #6ed7fb 0%, rgb(255, 88, 88) 100%);

}


.landingPagePokedex {
    transition: 0.5s;
    width: 6cm;
    height: 3cm;
    font-size: x-large;
    color: white;
    border-color: white;
    border-width: 3px;
    border-radius: 25px;
    border-style: none;
    background-size: 200% auto;
    margin-top: 130px;
    margin-left: 50vh;
    position: relative;
    bottom: 120px;
}

.landingPagePokedex:hover {
    background-position: right center;
    background-position: 100%;
    transition: 0.5s;
}

.landingPagePokedex:active {
    transition: 0.25s;
    color: rgb(255, 255, 255);
    background-color: rgb(111, 122, 245);
    border-color: rgb(111, 122, 245);
    opacity: 5;
}

.Button2 {
    background-image: linear-gradient(to left, #8fbc8f 0%, #ff5858 100%);
}

.landingPageItems {
    transition: 0.5s;
    width: 6cm;
    height: 3cm;
    font-size: x-large;
    color: white;
    border-color: white;
    border-width: 3px;
    border-radius: 25px;
    border-style: none;
    background-size: 200% auto;
    position: relative;
    margin-top: -90px;
    margin-right: 50vh;
}

.landingPageItems:hover {
    background-position: right center;
    background-position: 100%;
    transition: 0.5s;
}

.landingPageItems:active {
    transition: 0.25s;
    color: rgb(255, 255, 255);
    background-color: rgb(111, 122, 245);
    border-color: rgb(111, 122, 245);
    opacity: 5;
}

.Button3 {
    background-image: linear-gradient(to left, #6ed7fb 0%, #8fbc8f 100%);
}



.landingPageKinds {
    transition: 0.5s;
    width: 6cm;
    height: 3cm;
    font-size: x-large;
    color: white;
    border-color: white;
    border-width: 3px;
    border-radius: 25px;
    border-style: none;
    background-size: 200% auto;
    margin-top: 15px;
    margin-left: 50vh;
    position: relative;

}

.landingPageKinds:hover {
    background-position: right center;
    background-position: 100%;
    transition: 0.5s;
}

.landingPageKinds:active {
    transition: 0.25s;
    color: rgb(255, 255, 255);
    background-color: rgb(111, 122, 245);
    border-color: rgb(111, 122, 245);
    opacity: 5;
}

.Button4 {
    background-image: linear-gradient(to left, #e9e31c 0%, #8fbc8f 100%);
}

.pokeballButton1 {
    border-style: none;
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
    transition: rotate 1s;
}

.pokeballButton1:hover {
    rotate: 360deg;
}

.pokeballImg {
    height: 50px;
}

body {
    background: linear-gradient(rgba(30, 100, 200, 0.7), rgba(30, 100, 200, 0.4)),
    url(Images/Backgrounds/mainBG.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

h1 {
    font-size: 3rem;
    width: 50%;
    color: #ffffff;
    background: linear-gradient(90deg, #ffffff, #add8e6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10px 20px;
    border: 3px solid #ffffff;
    border-radius: 15px;
    text-transform: uppercase;
    text-align: center;
    margin:30px auto;
    position: relative;
}