.focusable {
    cursor: pointer;
}

.focusable:focus {
    outline: 2px solid blue;
}

img#player-pokemon, img#opponent-pokemon {
    transform-origin: bottom center;
}

#player-pokemon-field {
    position: fixed;
    bottom: 11vh;
    left: 550px;
    transform: translateX(-50%);
}
img#player-pokemon-platform {
    position: fixed;
    bottom: -167px;
    left: -167px;
    width: 700px;
    height: auto;
}
img#player-pokemon {
    position: relative;
    right: 9px;
    bottom: 47px;
    width: 400px;
    height: auto;
    transform: scaleX(-1);
}
#player-pokemon-card {
    position: fixed;
    bottom: 168px;
    left: 590px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
}

#opponent-pokemon-field {
    position: fixed;
    top: 28vh;
    right: 304px;
    transform: translateX(50%);
}
img#opponent-pokemon-platform {
    position: fixed;
    bottom: -360px;
    left: -530px;
    width: 700px;
    height: auto;
}
img#opponent-pokemon {
    position: fixed;
    right: 5px;
    bottom: -145px;
    width: 400px;
    height: auto;
}
#opponent-pokemon-card {
    position: fixed;
    bottom: -33px;
    left: -849px;
    width: 350px;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.custom-card {
    background-color: #fffff2;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    width: 350px;
}

.hp-bar {
    background-color: #ccc;
    border-radius: 5px;
    height: 20px;
    width: 100%;
    margin-top: 10px;
}

.hp-bar-fill {
    background-color: #4caf50; /* Green */
    height: 100%;
    width: 50%; /* Example HP percentage */
    border-radius: 5px;
}

/* Status effects */
.status {
    border: black 1px solid;
    border-radius: 10px;
    padding: 2px 7px;
}
.status-burn {
    background-color: red;
}
.status-poison {
    background-color: purple;
}
.status-paralysis {
    background-color: yellow;
}
.status-sleep {
    background-color: blue;
}
.status-frozen {
    background-color: lightblue;
}
.status-confusion {
    background-color: orange;
}
.status-faint { /* Used for conditional fainting e. g. with destiny bond */
    background-color: black;
    color: white;
}

/* Move highlights */
.move-fire {
    background-color: #ff7f50; /* Light red */
}
.move-water {
    background-color: #99ccff; /* Light blue */
}
.move-electric {
    background-color: #ffff99; /* Light yellow */
}
.move-grass {
    background-color: #99ff99; /* Light green */
}
.move-ice {
    background-color: #ccf2ff; /* Very light blue */
}
.move-fighting {
    background-color: #ffcc99; /* Light orange */
}
.move-poison {
    background-color: #cc99ff; /* Light purple */
}
.move-ground {
    background-color: #d2b48c; /* Tan */
}
.move-flying {
    background-color: #87ceeb; /* Sky blue */
}
.move-psychic {
    background-color: #ffb6c1; /* Light pink */
}
.move-bug {
    background-color: #b6ff99; /* Light lime */
}
.move-rock {
    background-color: #d3d3d3; /* Light gray */
}
.move-ghost {
    background-color: #dda0dd; /* Plum */
}
.move-dragon {
    background-color: #ff9999; /* Coral */
}
.move-dark {
    background-color: #a9a9a9; /* Dark gray */
}
.move-steel {
    background-color: #c0c0c0; /* Silver */
}
.move-fairy {
    background-color: #ffccff; /* Light pink */
}

.team-container {
    margin-left: 4%;
    position: absolute;
    width: 20%;
    text-align: center;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8); 
}

.player-team {
    width: 17%;
    left: -3%;
    bottom: 35%;
}

.enemy-team {
    width: 17%;
    margin-right: 50px;
    right: -2%;
    top: 2%;
}

.team-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.team {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.team-row {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.team img {
    height: 60px;
    width: auto;
}
