body {
    background-image: url('https://assets.pokemon.com/static2/_ui/img/chrome/body_bg.png');
    font-family: Arial, sans-serif;
}

@font-face {
    font-family: 'PokemonGB';
    src: url('Font/PokemonGb-RAeo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-size: 10px;

}

.red-arrow {
    width: 0;
    height: 0;
    top: 10%;
    left: 43%;
    margin-left: 20px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid red; 
    position: relative;
}


.red-arrow::after {
    content: "";
    position: absolute;
    top: -2px;
    left: -15px;
    width: 0;
    height: 0;
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
    border-bottom: 17px solid rgba(0, 0, 0, 0.5);;
    z-index: -1;
}

.pokemon-font{
    font-family: 'PokemonGB';
    image-rendering: pixelated;
    word-spacing: -6px;
}

#mode{
    margin-top: 25px;
    margin-left: 180px;
}
#trainer
{
    margin-top: 25px;
    margin-left: 65px;
}

#battle
{
    margin-left: 237px;
}


#top-menu {
    position: absolute;
    background-color: black;
    top: calc(38% + 7px);
    height: calc(21% + 8px);
    width: calc(32% + 0px); 
    left: calc(33% + 10px);
    border-style: solid;
    border-color: black;
    border-width: 6px;
}

#outer-menu {
    position: absolute;
    background-color: #ffff;
    height: calc(94% + 1px);
    width: 98%;
    border-style: solid;
    border-color: #ceaa4a;
    border-width: 6px;
    border-radius: 10px;
}

#inner-menu {
    position: absolute;
    background-color: #29516b;
    height: 92%;
    width: calc(95% + 10px);
    top: 4%;
    left: calc(1% + 4px);
    border-radius: 10px;
    z-index: 0;
    color: white;
}

#gameboy {
    position: absolute;
    left: 30%;
    height: 110%;
    width: 40%;
}

#battle-start {
    position: absolute;
    top: 200px;
}

h1 {
    z-index: 2;
    font-size: 2em;
    color: #333;
    background-image: linear-gradient(to right, #bd1b1b 0%, #df6310 51%, #bd1b1b 100%);
    transition: background-position 0.4s ease;
    background-size: 200% auto;
    height: 50px;
    width: 270px;
    border-radius: 50px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mode-button{
    border-radius: 20px;
    border-style: none;
    height: 50px;
    width: 100px;
    z-index: 2;
    background-color: #ffff;
}

#player-v-bot {
    position: absolute;
    top: 32%;
    left: calc(34% + 5px);
}
#player-v-player {
    position: absolute;
    top: 32%;
    left: 42%;
}
#bot-v-bot {
    position: absolute;
    top: 32%;
    left: 50%;
}
#i-have-no-clue{
    position: absolute;
    top: 32%;
    left: calc(58% + 10px);
}

#choose-outer{
    position: absolute;
    height: calc(21% + 8px);
    width: calc(20% + 14px);
    border-style: solid;
    top: calc(28% + 9px);
    left: 45%;
    border: 4px solid black;
    background-color: #7778ad;
    border-radius: 10px;
    border-color: black;
    z-index: 1;
}
#choose-inner{
    position: absolute;
    height: 84%;
    width: 88%;
    border-style: solid;
    top: 8px;
    left: 16px;
    border: 8px solid #736b82;
    background-color: #ffff;
    border-radius: 10px;
    z-index: 1;
}


.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.selected::before {
    content: ">";
    font-size: 50px;
    color: white;
    position: absolute;
    left: -40px;
    top: -13px;
}

#charmander{
    position: absolute;
    top: 38%;
    left: 3%;
    scale: 2;
    image-rendering: crisp-edges;
}
#charmeleon{
    position: absolute;
    top: 35%;
    left: 23%;
    scale: 2;
    image-rendering: crisp-edges;
}
#charizard{
    position: absolute;
    top: 30%;
    left: 50%;
    scale: 2;
    image-rendering: crisp-edges;
}
#charizard-shiny{
    position: absolute;
    top: 30%;
    left: 77%;
    scale: 2;
    image-rendering: crisp-edges;
}
.select-screen{
    background-color: black;
    top: calc(9% + 2px);
    left: calc(33% + 10px);
    height: calc(29% + 8px);
    width: calc(32% + 12px);
    position: absolute;
    z-index: 1;
}